.u-section-1 {
  background-image: url("images/bleach-background.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  margin: 457px 512px 5px 0;
}

.u-section-1 p{
  font-size: 24px;
  color: whitesmoke;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 355px;
    margin-right: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 226px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 0% 100%;
    background-size: 205%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 100px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 667px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 28px auto 28px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 612px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 382px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 612px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 115px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 612px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 100%;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 505px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 302px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-2 .u-image-1 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 292px;
    margin-top: 215px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1690px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 621px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 656px;
  }

  .u-section-2 .u-image-2 {
    height: 621px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-2 .u-image-1 {
    height: 382px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 382px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 388px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px 1105px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 0.8;
  font-weight: 700;
  margin: 20px 1004px 0 0;
}

.u-section-3 .u-text-3 {
  letter-spacing: 0;
  line-height: 2;
  margin: 20px 570px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: -75px 0 60px 750px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 905px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 804px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 685px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 584px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 317px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -100px;
    margin-left: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 505px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 404px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 40px;
    margin-bottom: 55px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 305px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 204px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }
}.u-section-4 {
  min-height: 790px;
  background-image: none;
}

.u-section-4 .u-group-1 {
  min-height: 211px;
  margin: 579px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -760px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 2;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  object-position: 50% 49.51%;
  background-position: 50% 49.51%;
  width: 462px;
  height: 471px;
  margin: -92px auto 0;
}

.u-section-4 .u-image-2 {
  object-position: 50% 49.51%;
  background-position: 50% 49.51%;
  width: 100%;
  height: 100%;
  margin: -92px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 318px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 17px auto 0 -8px;
}

.u-section-4 .u-text-4 {
  line-height: 2;
  margin: 23px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 318px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 0 0;
}

.u-section-4 .u-text-6 {
  line-height: 2;
  margin: 23px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 318px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 0 0;
}

.u-section-4 .u-text-8 {
  line-height: 2;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 589px;
  }

  .u-section-4 .u-group-1 {
    min-height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -804px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 456px;
    background-position: 50% 49.51%;
  }

  .u-section-4 .u-image-1 {
    width: 476px;
    height: 503px;
    margin-top: -67px;
    margin-left: -16px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 262px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: 99px;
    margin-left: -40px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-4 .u-image-1 {
    width: 519px;
    height: 536px;
    margin-top: -32px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-4 .u-text-7 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 351px;
    margin-left: 0;
  }
}
.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-5 .u-text-1 {
  width: 537px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  font-family: Oswald, sans-serif;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  width: 537px;
  line-height: 2;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/team_7.webp");
  background-position: 50% 50%;
  min-height: 507px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/team-7.jpg");
  background-position: 50% 50%;
  min-height: 507px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/team_7_moments.png");
  background-position: 50% 50%;
  min-height: 253px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-image-4 {
  background-image: url("images/team_7_moments1.png");
  background-position: 50% 50%;
  min-height: 253px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-image-5 {
  min-height: 253px;
  background-image: url("images/team_7_moments2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 201px;
    margin-left: 202px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 418px;
  }

  .u-section-5 .u-image-2 {
    min-height: 418px;
  }

  .u-section-5 .u-image-3 {
    min-height: 209px;
  }

  .u-section-5 .u-image-4 {
    min-height: 209px;
  }

  .u-section-5 .u-image-5 {
    min-height: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 92px;
    margin-left: 92px;
  }

  .u-section-5 .u-image-1 {
    min-height: 320px;
  }

  .u-section-5 .u-image-2 {
    min-height: 320px;
  }

  .u-section-5 .u-image-3 {
    min-height: 160px;
  }

  .u-section-5 .u-image-4 {
    min-height: 160px;
  }

  .u-section-5 .u-image-5 {
    min-height: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1871px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-5 .u-image-1 {
    min-height: 360px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 720px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 360px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 360px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    min-height: 360px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 227px;
  }

  .u-section-5 .u-image-2 {
    min-height: 453px;
  }

  .u-section-5 .u-image-3 {
    min-height: 227px;
  }

  .u-section-5 .u-image-4 {
    min-height: 227px;
  }

  .u-section-5 .u-image-5 {
    min-height: 227px;
  }
}.u-section-6 {
  min-height: 577px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 54px auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 400px;
  width: 100%;
  background-image: url("images/team_7_teen.jpg");
  background-position: 50% 100%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
  width: 100%;
}

.u-section-6 .u-image-2 {
  min-height: 400px;
  width: 100%;
  background-image: url("images/team_7_teen1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
  width: 100%;
}

.u-section-6 .u-image-3 {
  min-height: 400px;
  width: 100%;
  background-image: url("images/team_7_teen2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
  width: 100%;
}

.u-section-6 .u-image-4 {
  min-height: 400px;
  width: 100%;
  background-image: url("images/team_7_teen3.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 464px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 388px;
  }

  .u-section-6 .u-image-2 {
    min-height: 388px;
  }

  .u-section-6 .u-image-3 {
    min-height: 388px;
  }

  .u-section-6 .u-image-4 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 1264px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 594px;
  }

  .u-section-6 .u-image-2 {
    min-height: 594px;
  }

  .u-section-6 .u-image-3 {
    min-height: 594px;
  }

  .u-section-6 .u-image-4 {
    min-height: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 2749px;
  }

  .u-section-6 .u-image-1 {
    min-height: 891px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 891px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 891px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 891px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 1759px;
  }

  .u-section-6 .u-image-1 {
    min-height: 561px;
  }

  .u-section-6 .u-image-2 {
    min-height: 561px;
  }

  .u-section-6 .u-image-3 {
    min-height: 561px;
  }

  .u-section-6 .u-image-4 {
    min-height: 561px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 55px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 45px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-image-1 {
  background-size: auto 100% ;
  background-image: url("images/renji.webp");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 406px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-form-1 {
  height: 308px;
  margin: 0 -60px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-social-icons-1 {
    margin-right: 53px;
  }

  .u-section-7 .u-image-1 {
    min-height: 335px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 180px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 257px;
    background-position: 65.32% 50%;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 578px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 364px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 368px;
  }
}